html, body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.fullwidth {
	width: 100%;
}

.centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	padding-left: 10px;
}

.middle {
}

.button {
	padding: 0;
}

.contentdetails {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.visible {
	flex-grow: 1;
	width: 100%;
}

.not-visible {
	display: none;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.footerdetails {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.footer-title {
	padding: 10px;
	flex-grow: 1;
}

.links {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.copyright {
	padding: 10px;
}